<div [ngClass]="editing?['row','row-username','edit']:['row','row-username']">
    <ng-template [ngIf]="editing" [ngIfElse]="elseBlock">
        <div>
            <div class="label secondary">
                ユーザー名
            </div>
            <input class="input primary" appAutoFocus type="text" [(ngModel)]="userAccount.name"/>
        </div>
        <button mat-button color="primary" (click)="onClickEdit()">保存</button>
    </ng-template>
    <ng-template #elseBlock>
        <div>
            <div class="label secondary">
                ユーザー名
            </div>
            <div class="value primary">
                {{userAccount.name}}
            </div>  
        </div>
        <button mat-button color="primary" (click)="onClickEdit()">編集</button>
    </ng-template>
</div>
<div class="row row-key">
    <div class="secondary">
        暗号化鍵
    </div>
    <button mat-button color="primary">エクスポート</button>
</div>
<footer class="footer row">
    <div></div>
    <button mat-button color="warn">削除</button>
</footer>
