@import '_variables';
:host {
  background-color: $gray1;
}
.header {
  display: flex;
  justify-content: flex-end;
}
.button {
}
.link-group {
  display: flex;
  align-items: center;
  img {
    width: 30px;
    height: 30px;
    margin: 30px;
    margin-bottom: 6px;
  }
  app-input {
    flex: 1;
  }
}
.form-action {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
