<form [formGroup]="form" (ngSubmit)="save()">
  <header class="header">
    <div class="primary title">
      外部アカウントの作成
    </div>
    <button class="button" mat-dialog-close mat-icon-button color="primary"
      aria-label="Example icon button with a menu icon">
      <mat-icon> close </mat-icon>
    </button>
  </header>
  <div formGroupName="outerAccount">
    <app-input label="Provider Name" name="providerName" formControlName="providerName">
    </app-input>
    <app-input label="User ID" name="userId" formControlName="userId"></app-input>
  </div>
  <mat-slide-toggle *ngIf="(disabled$|async)===false" class="gray-text" formControlName="isGeneratePassword">
    パスワードを自動で生成する
  </mat-slide-toggle>
  <div class="gray-text" *ngIf="((disabled$|async)===false)&&isGeneratePassword?.value">
    <div formGroupName="check">
      <mat-checkbox formControlName="lowercase">
        英小文字含む
      </mat-checkbox>
      <mat-checkbox formControlName="uppercase">
        英大文字含む
      </mat-checkbox>
      <mat-checkbox formControlName="numeric">
        数字含む
      </mat-checkbox>
      <mat-checkbox formControlName="symbol">
        記号含む
      </mat-checkbox>
    </div>
    <div>
      <input type="text" inputmode="decimel" pattern="\d{1,5}" title="Only digits" formControlName="passwordLength" />
      <button mat-button color="primary" type="button" type="button" (click)="generatePassword()">生成する</button>
    </div>
  </div>
  <div formGroupName="outerAccount">
    <div class="password-container">
      <app-input type="password" label="Password" formControlName="password">
      </app-input>
      <button *ngIf="disabled$|async" (click)="copyPassword()" type="button" class="copy-button" mat-icon-button
        color="primary" aria-label="a button to copy password to clipboard">
        <mat-icon>save_alt</mat-icon>
      </button>
    </div>
    <div class="link-group">
      <app-input label="Link" name="link" formControlName="link" (ngModelChange)="onChangeLink($event)">
      </app-input>
      <img [src]="outerAccount?.value.iconPath" alt="provider icon" />
    </div>
  </div>
  <div *ngIf="disabled$| async; else submitBlock" class="form-action">
    <button data-testid="editButton" (click)="toggleEdit()" type="button" mat-button color="primary">編集</button>
  </div>
  <ng-template #submitBlock>
    <div class="form-action">
      <button mat-button color="primary" type="submit">保存</button>
      <button *ngIf="editing$ | async" (click)="toggleEdit()" mat-button color="primary">キャンセル</button>
    </div>
  </ng-template>
  <div *ngIf="disabled$| async" class="form-action">
    <button (click)="destroyAccount()" mat-button color="primary">削除</button>
  </div>
</form>
