<app-titlebar></app-titlebar>
<app-container>
<h1 class="title">Register</h1>
<form>
    <div class="input-group">
        <app-input label="User ID" [(value)]="username"></app-input>
        <app-input label="Email" [(value)]="email"></app-input>
        <app-input label="Password" [(value)]="password"></app-input>
        <app-input label="Password Confirmation" [(value)]="passwordConfirmation"></app-input>
    </div>
    <span class="button" (click)="submit()">Submit</span>
</form>
<a routerLink="/auth/login" class="link">Login</a>
</app-container>