<div class="bar primary is-window-frame">
  ユーザーアカウントの管理
  <mat-icon (click)="closeWindow()" class="in-window-frame">close</mat-icon>
</div>
<div class="container">
  <aside>
    <ul>
      <a *ngFor="let item of userAccounts | async" [routerLink]="'/user-account-manager/setting/'+ item?.id">
        <li class="primary">
          <span>
            {{item?.name||''}}
          </span>
          <button class="settings" mat-icon-button color="primary"
            aria-label="Example icon button with a open in new tab icon">
            <mat-icon>settings</mat-icon>
          </button>
        </li>
      </a>
    </ul>
    <footer>
      <button class="settings" mat-icon-button color="primary" (click)="exportUnko()"
        aria-label="Example icon button with a open in new tab icon">
        <mat-icon>settings</mat-icon>
      </button>
      <a [routerLink]="'/user-account-manager/create'">
        <button mat-icon-button color="primary" aria-label="Example icon button with a open in new tab icon">
          <mat-icon>add</mat-icon>
        </button>
      </a>
    </footer>
  </aside>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
