@import '_variables';

:host {
  height: 100%;
  display: grid;
  grid-auto-rows: min-content auto;
  background-color: $gray2;
}

.mat-dialog-container {
  background-color: $gray1;
}

.content {
  display: flex;
  overflow: hidden;
}

.sidebar {
}

.account-list {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 8px 8px 0;
  position: relative;
}

.button {
  position: absolute;
  bottom: 2em;
  right: 2em;
}
