<div class="row-username">
  <app-input #input class="input" [disabled]="!editing" [(value)]="name" label="ユーザー名">
  </app-input>

  <button *ngIf="editing; else elseBlock;" mat-button color="primary" (click)="onClickEdit()">保存</button>
  <ng-template #elseBlock>
    <button mat-button color="primary" (click)="onClickEdit()">編集</button>
  </ng-template>
</div>
<div class="row row-key">
  <div class="secondary">
    暗号化鍵
  </div>
  <button (click)="clickExport()" mat-button color="primary">エクスポート</button>
</div>
<footer class="footer row">
  <div></div>
  <button (click)="_DeleteAccount()" mat-button color="warn">削除</button>
</footer>
