@import '_variables';

:host {
  flex: 0 0 auto;
  width: 25%;
  padding: 8px;
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    width: 100%;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    width: 50%;
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    width: calc(100% / 3);
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    width: 25%;
  }
}

.container {
  cursor: pointer;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gray1;
}

.content {
  padding: 1em;
  overflow: hidden;
}

.providerName {
  font-size: 20px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.userId {
  overflow: hidden;
  text-overflow: ellipsis;
}

img {
  flex-shrink: 0;
  height: 100%;
  padding: 10px;
}
