.title,
.button {
  color: #0dec6b;
}

.title {
  font-size: 48px;
  padding: 48px;
  margin: 0;
  text-align: center;
  line-height: 1.4;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  padding-top: 30px;
}

.button {
  display: inline-block;
  margin-top: 60px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 20px;
  outline: none;
}

.link {
  position: absolute;
  bottom: 60px;
  right: 60px;
  color: #c4c4c4;
}
