@import "_variables";

:host {
  background-color: $gray1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: .5rem;
}

.menu {
  display: flex;
  align-items: center;

  &:hover ::ng-deep .close {
    color: $gray3;
  }
}

.home-wrapper {
  color: $primary-text;
  padding: 4px 12px;
}

.home {
  font-size: 20px;
  width: 1em;
  height: 1em;
  display: block;
}

.window-close {
  font-size: 18px;
  width: 1em;
  height: 1em;
  color: $gray2;
  justify-self: flex-end;
  cursor: pointer;

  &:hover {
    color: white;
  }
}
