<div class="menu in-window-frame">
  <div class="home-wrapper">
    <mat-icon class="home" (click)="_onClickHome()" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </div>
  <app-tab
    *ngFor="let tab of tabService.tabs; index as i"
    [tab]="tab"
    (click)="tabService.clickTab(i)"
    (clickClose)="tabService.closeTab(i)"
  ></app-tab>
</div>
<div class="in-window-frame">
  <button class="button button-down" (click)="logout()" mat-button aria-label="Example icon button with a menu icon">
    <mat-icon class="window-close" aria-hidden="false" aria-label="Example home icon"> keyboard_arrow_down </mat-icon>
  </button>
  <button class="button button-close" (click)="closeWindow()" mat-button aria-label="Example icon button with a menu icon">
    <mat-icon class="window-close" aria-hidden="false" aria-label="Example home icon">close </mat-icon>
  </button>
</div>
