@import "_variables";

:host {
  display: flex;
  flex-direction: column;

  label {
    color: $secondary-text;
    padding: 1rem;
  }

  input {
    padding: .75rem;
    border: 1px solid $primary-text;
    border-radius: 4px;
    color: $primary-text;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }
}
