@import "_variables";

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $gray1;
}

.bar {
  padding: 1rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

// buttonの大きさを変えたがline-heightが数値指定なので、相対指定に修正してる
.settings {
  width: 30px;
  height: 30px;
  line-height: 1;

  mat-icon {
    font-size: 20px;
    width: 1em;
    height: 1em;
    line-height: 1;
  }
}

aside {
  height: 100%;
  flex-shrink: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray3;
    width: 300px;
    padding: .25em;
    padding-right: .5em;
    padding-left: 1em;

    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  footer{
    display: flex;
    justify-content: flex-end;
  }
}



.content {
  flex-grow: 1;
  height: 100%;
  padding: 8px 8px 0;
  position: relative;
  border-left: 1px solid $gray2;
}
