@import "_variables";

:host {
  background-color: $gray1;
  display: flex;
  align-items: center;
  color: $gray3;
  font-size: 12px;
  padding: 8px 12px;

  &.active {
    background-color: $gray2;
    color: white;
  }

  &.active .close {
    color: $gray3;
  }

  &:hover {
    color: white;
    background-color: #2a2a2a;
  }
}

.close {
  margin-left: 8px;
  font-size: 14px;
  height: 1em;
  width: 1em;
  color: $gray1;
}

.close:hover {
  color: white !important;
}