:host {
  display: flex;
  flex-direction: column;

  label {
    color: #C4C4C4;
    padding: 1rem;
  }

  input {
    padding: .75rem;
    border: 1px solid #0DEC6B;
    border-radius: 4px;
    color: #0DEC6B;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }
}
